<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>Swift_VIPER_Module</string>
	<key>Description</key>
	<string>This generates a new Module using B-VIPER generator. It consists of the viewcontroller, interactor, presenter, router, and protocols file.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Template Auther</key>
	<string>Suhit Patil @ 2020</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the module to create</string>
			<key>Identifier</key>
			<string>moduleName</string>
			<key>Name</key>
			<string>Module Name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName___ViewController</string>
			<key>Description</key>
			<string>The interfaces name</string>
			<key>Identifier</key>
			<string>interfacesName</string>
			<key>Name</key>
			<string>Interfaces Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName___Interactor</string>
			<key>Description</key>
			<string>The interactor name</string>
			<key>Identifier</key>
			<string>interactorName</string>
			<key>Name</key>
			<string>Interactor Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName___Presenter</string>
			<key>Description</key>
			<string>The presenter name</string>
			<key>Identifier</key>
			<string>presenterName</string>
			<key>Name</key>
			<string>Presenter Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName___Router</string>
			<key>Description</key>
			<string>The name of the router</string>
			<key>Identifier</key>
			<string>wireframeName</string>
			<key>Name</key>
			<string>Router Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName___Protocols</string>
			<key>Description</key>
			<string>The name of the file containing the contracts for this module</string>
			<key>Identifier</key>
			<string>viewControllerName</string>
			<key>Name</key>
			<string>Name of Protocols File:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<string>1</string>
	<key>Summary</key>
	<string>This generates a new VIPER module.</string>
</dict>
</plist>
